@media (max-width: 730px) {
  html {
    font-size: 50%;
  }
  header {
    height: 250px;
  }
  h1 {
    font-size: 20px;
  }
  .between {
    font-size: 15px;
  }
  main {
    height: 370px;
  }
  .right {
    padding-left: 10px;
  }
  .guess {
    width: 100px;
  }
}
